  $hd-arrow-down-right-x: 306px;
  $hd-arrow-down-right-y: 0px;
  $hd-arrow-down-right-offset-x: -306px;
  $hd-arrow-down-right-offset-y: 0px;
  $hd-arrow-down-right-width: 64px;
  $hd-arrow-down-right-height: 64px;
  $hd-arrow-down-right-total-width: 370px;
  $hd-arrow-down-right-total-height: 370px;
  $hd-arrow-down-right-image: 'sprites/hd-test.png';
  $hd-arrow-down-right: 306px 0px -306px 0px 64px 64px 370px 370px 'sprites/hd-test.png';
  $hd-binoculars-x: 100px;
  $hd-binoculars-y: 306px;
  $hd-binoculars-offset-x: -100px;
  $hd-binoculars-offset-y: -306px;
  $hd-binoculars-width: 32px;
  $hd-binoculars-height: 32px;
  $hd-binoculars-total-width: 370px;
  $hd-binoculars-total-height: 370px;
  $hd-binoculars-image: 'sprites/hd-test.png';
  $hd-binoculars: 100px 306px -100px -306px 32px 32px 370px 370px 'sprites/hd-test.png';
  $hd-connection-x: 306px;
  $hd-connection-y: 132px;
  $hd-connection-offset-x: -306px;
  $hd-connection-offset-y: -132px;
  $hd-connection-width: 64px;
  $hd-connection-height: 64px;
  $hd-connection-total-width: 370px;
  $hd-connection-total-height: 370px;
  $hd-connection-image: 'sprites/hd-test.png';
  $hd-connection: 306px 132px -306px -132px 64px 64px 370px 370px 'sprites/hd-test.png';
  $hd-console-x: 102px;
  $hd-console-y: 0px;
  $hd-console-offset-x: -102px;
  $hd-console-offset-y: 0px;
  $hd-console-width: 100px;
  $hd-console-height: 100px;
  $hd-console-total-width: 370px;
  $hd-console-total-height: 370px;
  $hd-console-image: 'sprites/hd-test.png';
  $hd-console: 102px 0px -102px 0px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-droplet-x: 306px;
  $hd-droplet-y: 66px;
  $hd-droplet-offset-x: -306px;
  $hd-droplet-offset-y: -66px;
  $hd-droplet-width: 64px;
  $hd-droplet-height: 64px;
  $hd-droplet-total-width: 370px;
  $hd-droplet-total-height: 370px;
  $hd-droplet-image: 'sprites/hd-test.png';
  $hd-droplet: 306px 66px -306px -66px 64px 64px 370px 370px 'sprites/hd-test.png';
  $hd-expand-x: 202px;
  $hd-expand-y: 306px;
  $hd-expand-offset-x: -202px;
  $hd-expand-offset-y: -306px;
  $hd-expand-width: 32px;
  $hd-expand-height: 32px;
  $hd-expand-total-width: 370px;
  $hd-expand-total-height: 370px;
  $hd-expand-image: 'sprites/hd-test.png';
  $hd-expand: 202px 306px -202px -306px 32px 32px 370px 370px 'sprites/hd-test.png';
  $hd-feed-x: 102px;
  $hd-feed-y: 102px;
  $hd-feed-offset-x: -102px;
  $hd-feed-offset-y: -102px;
  $hd-feed-width: 100px;
  $hd-feed-height: 100px;
  $hd-feed-total-width: 370px;
  $hd-feed-total-height: 370px;
  $hd-feed-image: 'sprites/hd-test.png';
  $hd-feed: 102px 102px -102px -102px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-google-plus-x: 204px;
  $hd-google-plus-y: 0px;
  $hd-google-plus-offset-x: -204px;
  $hd-google-plus-offset-y: 0px;
  $hd-google-plus-width: 100px;
  $hd-google-plus-height: 100px;
  $hd-google-plus-total-width: 370px;
  $hd-google-plus-total-height: 370px;
  $hd-google-plus-image: 'sprites/hd-test.png';
  $hd-google-plus: 204px 0px -204px 0px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-location-x: 168px;
  $hd-location-y: 306px;
  $hd-location-offset-x: -168px;
  $hd-location-offset-y: -306px;
  $hd-location-width: 32px;
  $hd-location-height: 32px;
  $hd-location-total-width: 370px;
  $hd-location-total-height: 370px;
  $hd-location-image: 'sprites/hd-test.png';
  $hd-location: 168px 306px -168px -306px 32px 32px 370px 370px 'sprites/hd-test.png';
  $hd-notebook-x: 134px;
  $hd-notebook-y: 306px;
  $hd-notebook-offset-x: -134px;
  $hd-notebook-offset-y: -306px;
  $hd-notebook-width: 32px;
  $hd-notebook-height: 32px;
  $hd-notebook-total-width: 370px;
  $hd-notebook-total-height: 370px;
  $hd-notebook-image: 'sprites/hd-test.png';
  $hd-notebook: 134px 306px -134px -306px 32px 32px 370px 370px 'sprites/hd-test.png';
  $hd-paste-x: 0px;
  $hd-paste-y: 306px;
  $hd-paste-offset-x: 0px;
  $hd-paste-offset-y: -306px;
  $hd-paste-width: 64px;
  $hd-paste-height: 64px;
  $hd-paste-total-width: 370px;
  $hd-paste-total-height: 370px;
  $hd-paste-image: 'sprites/hd-test.png';
  $hd-paste: 0px 306px 0px -306px 64px 64px 370px 370px 'sprites/hd-test.png';
  $hd-phone-x: 306px;
  $hd-phone-y: 264px;
  $hd-phone-offset-x: -306px;
  $hd-phone-offset-y: -264px;
  $hd-phone-width: 32px;
  $hd-phone-height: 32px;
  $hd-phone-total-width: 370px;
  $hd-phone-total-height: 370px;
  $hd-phone-image: 'sprites/hd-test.png';
  $hd-phone: 306px 264px -306px -264px 32px 32px 370px 370px 'sprites/hd-test.png';
  $hd-play-x: 306px;
  $hd-play-y: 198px;
  $hd-play-offset-x: -306px;
  $hd-play-offset-y: -198px;
  $hd-play-width: 64px;
  $hd-play-height: 64px;
  $hd-play-total-width: 370px;
  $hd-play-total-height: 370px;
  $hd-play-image: 'sprites/hd-test.png';
  $hd-play: 306px 198px -306px -198px 64px 64px 370px 370px 'sprites/hd-test.png';
  $hd-point-right-x: 204px;
  $hd-point-right-y: 204px;
  $hd-point-right-offset-x: -204px;
  $hd-point-right-offset-y: -204px;
  $hd-point-right-width: 100px;
  $hd-point-right-height: 100px;
  $hd-point-right-total-width: 370px;
  $hd-point-right-total-height: 370px;
  $hd-point-right-image: 'sprites/hd-test.png';
  $hd-point-right: 204px 204px -204px -204px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-pushpin-x: 66px;
  $hd-pushpin-y: 306px;
  $hd-pushpin-offset-x: -66px;
  $hd-pushpin-offset-y: -306px;
  $hd-pushpin-width: 32px;
  $hd-pushpin-height: 32px;
  $hd-pushpin-total-width: 370px;
  $hd-pushpin-total-height: 370px;
  $hd-pushpin-image: 'sprites/hd-test.png';
  $hd-pushpin: 66px 306px -66px -306px 32px 32px 370px 370px 'sprites/hd-test.png';
  $hd-sad-x: 102px;
  $hd-sad-y: 204px;
  $hd-sad-offset-x: -102px;
  $hd-sad-offset-y: -204px;
  $hd-sad-width: 100px;
  $hd-sad-height: 100px;
  $hd-sad-total-width: 370px;
  $hd-sad-total-height: 370px;
  $hd-sad-image: 'sprites/hd-test.png';
  $hd-sad: 102px 204px -102px -204px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-table-x: 0px;
  $hd-table-y: 204px;
  $hd-table-offset-x: 0px;
  $hd-table-offset-y: -204px;
  $hd-table-width: 100px;
  $hd-table-height: 100px;
  $hd-table-total-width: 370px;
  $hd-table-total-height: 370px;
  $hd-table-image: 'sprites/hd-test.png';
  $hd-table: 0px 204px 0px -204px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-twitter-x: 204px;
  $hd-twitter-y: 102px;
  $hd-twitter-offset-x: -204px;
  $hd-twitter-offset-y: -102px;
  $hd-twitter-width: 100px;
  $hd-twitter-height: 100px;
  $hd-twitter-total-width: 370px;
  $hd-twitter-total-height: 370px;
  $hd-twitter-image: 'sprites/hd-test.png';
  $hd-twitter: 204px 102px -204px -102px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-wondering-x: 0px;
  $hd-wondering-y: 102px;
  $hd-wondering-offset-x: 0px;
  $hd-wondering-offset-y: -102px;
  $hd-wondering-width: 100px;
  $hd-wondering-height: 100px;
  $hd-wondering-total-width: 370px;
  $hd-wondering-total-height: 370px;
  $hd-wondering-image: 'sprites/hd-test.png';
  $hd-wondering: 0px 102px 0px -102px 100px 100px 370px 370px 'sprites/hd-test.png';
  $hd-youtube-x: 0px;
  $hd-youtube-y: 0px;
  $hd-youtube-offset-x: 0px;
  $hd-youtube-offset-y: 0px;
  $hd-youtube-width: 100px;
  $hd-youtube-height: 100px;
  $hd-youtube-total-width: 370px;
  $hd-youtube-total-height: 370px;
  $hd-youtube-image: 'sprites/hd-test.png';
  $hd-youtube: 0px 0px 0px 0px 100px 100px 370px 370px 'sprites/hd-test.png';

