  $arrow-down-right-x: 153px;
  $arrow-down-right-y: 0px;
  $arrow-down-right-offset-x: -153px;
  $arrow-down-right-offset-y: 0px;
  $arrow-down-right-width: 32px;
  $arrow-down-right-height: 32px;
  $arrow-down-right-total-width: 185px;
  $arrow-down-right-total-height: 185px;
  $arrow-down-right-image: 'sprites/ld-test.png';
  $arrow-down-right-hd: $hd-arrow-down-right;
  $arrow-down-right: 153px 0px -153px 0px 32px 32px 185px 185px 'sprites/ld-test.png' $hd-arrow-down-right;
  $binoculars-x: 50px;
  $binoculars-y: 153px;
  $binoculars-offset-x: -50px;
  $binoculars-offset-y: -153px;
  $binoculars-width: 16px;
  $binoculars-height: 16px;
  $binoculars-total-width: 185px;
  $binoculars-total-height: 185px;
  $binoculars-image: 'sprites/ld-test.png';
  $binoculars-hd: $hd-binoculars;
  $binoculars: 50px 153px -50px -153px 16px 16px 185px 185px 'sprites/ld-test.png' $hd-binoculars;
  $connection-x: 153px;
  $connection-y: 66px;
  $connection-offset-x: -153px;
  $connection-offset-y: -66px;
  $connection-width: 32px;
  $connection-height: 32px;
  $connection-total-width: 185px;
  $connection-total-height: 185px;
  $connection-image: 'sprites/ld-test.png';
  $connection-hd: $hd-connection;
  $connection: 153px 66px -153px -66px 32px 32px 185px 185px 'sprites/ld-test.png' $hd-connection;
  $console-x: 51px;
  $console-y: 0px;
  $console-offset-x: -51px;
  $console-offset-y: 0px;
  $console-width: 50px;
  $console-height: 50px;
  $console-total-width: 185px;
  $console-total-height: 185px;
  $console-image: 'sprites/ld-test.png';
  $console-hd: $hd-console;
  $console: 51px 0px -51px 0px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-console;
  $droplet-x: 153px;
  $droplet-y: 33px;
  $droplet-offset-x: -153px;
  $droplet-offset-y: -33px;
  $droplet-width: 32px;
  $droplet-height: 32px;
  $droplet-total-width: 185px;
  $droplet-total-height: 185px;
  $droplet-image: 'sprites/ld-test.png';
  $droplet-hd: $hd-droplet;
  $droplet: 153px 33px -153px -33px 32px 32px 185px 185px 'sprites/ld-test.png' $hd-droplet;
  $expand-x: 101px;
  $expand-y: 153px;
  $expand-offset-x: -101px;
  $expand-offset-y: -153px;
  $expand-width: 16px;
  $expand-height: 16px;
  $expand-total-width: 185px;
  $expand-total-height: 185px;
  $expand-image: 'sprites/ld-test.png';
  $expand-hd: $hd-expand;
  $expand: 101px 153px -101px -153px 16px 16px 185px 185px 'sprites/ld-test.png' $hd-expand;
  $feed-x: 51px;
  $feed-y: 51px;
  $feed-offset-x: -51px;
  $feed-offset-y: -51px;
  $feed-width: 50px;
  $feed-height: 50px;
  $feed-total-width: 185px;
  $feed-total-height: 185px;
  $feed-image: 'sprites/ld-test.png';
  $feed-hd: $hd-feed;
  $feed: 51px 51px -51px -51px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-feed;
  $google-plus-x: 102px;
  $google-plus-y: 0px;
  $google-plus-offset-x: -102px;
  $google-plus-offset-y: 0px;
  $google-plus-width: 50px;
  $google-plus-height: 50px;
  $google-plus-total-width: 185px;
  $google-plus-total-height: 185px;
  $google-plus-image: 'sprites/ld-test.png';
  $google-plus-hd: $hd-google-plus;
  $google-plus: 102px 0px -102px 0px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-google-plus;
  $location-x: 84px;
  $location-y: 153px;
  $location-offset-x: -84px;
  $location-offset-y: -153px;
  $location-width: 16px;
  $location-height: 16px;
  $location-total-width: 185px;
  $location-total-height: 185px;
  $location-image: 'sprites/ld-test.png';
  $location-hd: $hd-location;
  $location: 84px 153px -84px -153px 16px 16px 185px 185px 'sprites/ld-test.png' $hd-location;
  $notebook-x: 67px;
  $notebook-y: 153px;
  $notebook-offset-x: -67px;
  $notebook-offset-y: -153px;
  $notebook-width: 16px;
  $notebook-height: 16px;
  $notebook-total-width: 185px;
  $notebook-total-height: 185px;
  $notebook-image: 'sprites/ld-test.png';
  $notebook-hd: $hd-notebook;
  $notebook: 67px 153px -67px -153px 16px 16px 185px 185px 'sprites/ld-test.png' $hd-notebook;
  $paste-x: 0px;
  $paste-y: 153px;
  $paste-offset-x: 0px;
  $paste-offset-y: -153px;
  $paste-width: 32px;
  $paste-height: 32px;
  $paste-total-width: 185px;
  $paste-total-height: 185px;
  $paste-image: 'sprites/ld-test.png';
  $paste-hd: $hd-paste;
  $paste: 0px 153px 0px -153px 32px 32px 185px 185px 'sprites/ld-test.png' $hd-paste;
  $phone-x: 153px;
  $phone-y: 132px;
  $phone-offset-x: -153px;
  $phone-offset-y: -132px;
  $phone-width: 16px;
  $phone-height: 16px;
  $phone-total-width: 185px;
  $phone-total-height: 185px;
  $phone-image: 'sprites/ld-test.png';
  $phone-hd: $hd-phone;
  $phone: 153px 132px -153px -132px 16px 16px 185px 185px 'sprites/ld-test.png' $hd-phone;
  $play-x: 153px;
  $play-y: 99px;
  $play-offset-x: -153px;
  $play-offset-y: -99px;
  $play-width: 32px;
  $play-height: 32px;
  $play-total-width: 185px;
  $play-total-height: 185px;
  $play-image: 'sprites/ld-test.png';
  $play-hd: $hd-play;
  $play: 153px 99px -153px -99px 32px 32px 185px 185px 'sprites/ld-test.png' $hd-play;
  $point-right-x: 102px;
  $point-right-y: 102px;
  $point-right-offset-x: -102px;
  $point-right-offset-y: -102px;
  $point-right-width: 50px;
  $point-right-height: 50px;
  $point-right-total-width: 185px;
  $point-right-total-height: 185px;
  $point-right-image: 'sprites/ld-test.png';
  $point-right-hd: $hd-point-right;
  $point-right: 102px 102px -102px -102px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-point-right;
  $pushpin-x: 33px;
  $pushpin-y: 153px;
  $pushpin-offset-x: -33px;
  $pushpin-offset-y: -153px;
  $pushpin-width: 16px;
  $pushpin-height: 16px;
  $pushpin-total-width: 185px;
  $pushpin-total-height: 185px;
  $pushpin-image: 'sprites/ld-test.png';
  $pushpin-hd: $hd-pushpin;
  $pushpin: 33px 153px -33px -153px 16px 16px 185px 185px 'sprites/ld-test.png' $hd-pushpin;
  $sad-x: 51px;
  $sad-y: 102px;
  $sad-offset-x: -51px;
  $sad-offset-y: -102px;
  $sad-width: 50px;
  $sad-height: 50px;
  $sad-total-width: 185px;
  $sad-total-height: 185px;
  $sad-image: 'sprites/ld-test.png';
  $sad-hd: $hd-sad;
  $sad: 51px 102px -51px -102px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-sad;
  $table-x: 0px;
  $table-y: 102px;
  $table-offset-x: 0px;
  $table-offset-y: -102px;
  $table-width: 50px;
  $table-height: 50px;
  $table-total-width: 185px;
  $table-total-height: 185px;
  $table-image: 'sprites/ld-test.png';
  $table-hd: $hd-table;
  $table: 0px 102px 0px -102px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-table;
  $twitter-x: 102px;
  $twitter-y: 51px;
  $twitter-offset-x: -102px;
  $twitter-offset-y: -51px;
  $twitter-width: 50px;
  $twitter-height: 50px;
  $twitter-total-width: 185px;
  $twitter-total-height: 185px;
  $twitter-image: 'sprites/ld-test.png';
  $twitter-hd: $hd-twitter;
  $twitter: 102px 51px -102px -51px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-twitter;
  $wondering-x: 0px;
  $wondering-y: 51px;
  $wondering-offset-x: 0px;
  $wondering-offset-y: -51px;
  $wondering-width: 50px;
  $wondering-height: 50px;
  $wondering-total-width: 185px;
  $wondering-total-height: 185px;
  $wondering-image: 'sprites/ld-test.png';
  $wondering-hd: $hd-wondering;
  $wondering: 0px 51px 0px -51px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-wondering;
  $youtube-x: 0px;
  $youtube-y: 0px;
  $youtube-offset-x: 0px;
  $youtube-offset-y: 0px;
  $youtube-width: 50px;
  $youtube-height: 50px;
  $youtube-total-width: 185px;
  $youtube-total-height: 185px;
  $youtube-image: 'sprites/ld-test.png';
  $youtube-hd: $hd-youtube;
  $youtube: 0px 0px 0px 0px 50px 50px 185px 185px 'sprites/ld-test.png' $hd-youtube;

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    background-image: url(nth($sprite, 9));
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  @mixin hd-sprite($sprite) {
    @include sprite($sprite);
    @media (-o-min-device-pixel-ratio: 5/4),
             (-webkit-min-device-pixel-ratio: 1.25),
             (min-resolution: 120dpi) {
      $hd: nth($sprite, 10);
      $bg-x: nth($sprite, 7);
      $bg-y: nth($sprite, 8);
      @include sprite-image($hd);
      background-size: $bg-x $bg-y;
    }
  }

